.form-fields{
    margin: 20px;
}

label{
    font-weight: bold;
    margin-bottom: 3px;
    color: rgb(67, 64, 64);
}
.container{
    width: 500px;
}

.save{
    margin: 5px;
}
.clear{
    margin: 5px;
}